{% extends "base.html" %}

{% block head %}
<title>{{ page.title }}</title>
{% endblock %}

{% block header %}
<header>
    <h1>{{ page.title }}</h1>
</header>
{% endblock %}

{% block main_body_content %}
<aside class="sidebar-drawer">
    <div class="container">
        {# Fill sidebar with navigation tree info #}
    </div>
</aside>

<main id="main-content">
    {{ page.content }}
</main>
{% endblock %}

{% block table_of_contents %}
    {{ body_macros::table_of_contents(page_context=page) }}
{% endblock %}